/*
#3b5d50
#f9bf29
#2f2f2f
rgba(255, 255, 255, 0.3)

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 5.2rem;
  background-color: #3d5d50;
  position: relative;
}

.heading-h1 {
  color: #fff;
  font-size: 3.2rem;
}

.dot {
  color: rgba(255, 255, 255, 0.3);
  font-size: 3.6rem;
}

.main-nav-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  font-size: 1.4rem;
  transition: all 0.3s;
  position: relative;
  padding-bottom: 1rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.main-nav-link::after {
  content: " ";
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: #f9bf29;
  height: 0.5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 10rem;
  /* transform: translate(-50%, 50%); */
}

.main-nav-link:hover::after {
  width: 100%;
}

.diff {
  color: #fff;
  position: relative;
  padding-bottom: 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

.diff::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #f9bf29;
  transform: translate(-48%, 50%);
  border-radius: 10rem;
}

/* mobile */
.btn-nav {
  border: none;
  background: none;
  display: none;
}

.icon-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #fff;
}

.close {
  display: none;
}

/* sticky */

.sticky .header {
  position: fixed;
  width: 100%;
  height: 7rem;
  z-index: 999;
  background-color: rgba(59, 93, 80, 0.97);
}

.sticky .hero {
  margin-top: 6rem;
}

/* hero section */

.section-hero {
  background-color: #3d5d50;
  padding: 4.8rem;
  height: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  align-items: center;
}

.heading-h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  font-family: 700;
}

.hero-content-box {
  margin-top: 9.5rem;
  align-self: start;
}

.hero-content {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.3);
  line-height: 1.9;
  margin-bottom: 1.8rem;
}

.btn-link:link,
.btn-link:visited {
  display: inline-block;
  background-color: #f9bf29;
  text-decoration: none;
  color: #2f2f2f;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10rem;
}

.unlight:link,
.unlight:visited {
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.unlight:hover,
.unlight:active {
  box-shadow: inset 0 0 0 0.2rem #fff;
}

.hero-img {
  width: 100%;
}

/* section grafted */

.section-grafted {
  padding: 8.6rem 0;
  background-color: #eff2f1;
}

/*  */
.grafted-box:hover .grafted-box::before {
  height: 70%;
  padding-top: 70%;
}
.grafted-box:hover .grafted-img {
  transform: translateY(-20px);
}

.grafted-text {
  font-size: 1.4rem;
  color: #666;
  line-height: 1.9;
  margin-bottom: 1.6rem;
}

.grafted-img {
  width: 100%;
  margin-bottom: 2.4rem;
  transition: all 0.2s;
}

.grafted-link:link,
.grafted-link:visited {
  background-color: #2f2f2f;
  color: #fff;
  transition: all 0.3s;
  display: inline-block;
}

.grafted-link:hover,
.grafted-link:active {
  background-color: #222;
}

.product-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #2f2f2f;
}

.product-price {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #2f2f2f;
}

.center {
  text-align: center;
}

/* section why */

.section-why {
  padding: 8.6rem 0;
  background-color: #eff2f1;
}

.why {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14rem;
}

.why-img {
  /* max-width: 100%; */
  width: 90%;
  height: 100%;
  border-radius: 1.2rem;
}

.section-why .heading-h3 {
  margin-bottom: 1.6rem;
}

.heading-text {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 3.2rem;
}

.svg-img {
  position: absolute;
  right: 5px;
  bottom: 0;
}

.svg-box {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(59, 93, 80, 0.2);
  margin-bottom: 1.4rem;
  position: relative;
  margin-left: 2rem;
}

.feature-title {
  font-size: 1.4rem;
  color: #2f2f2f;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.4rem;
  color: #666;
  line-height: 1.6;
}

/* SECTION HELP */

.section-help {
  padding: 8.6rem 0;
  background-color: #eff2f1;
}
.grid-help {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 6.4rem;
  margin-bottom: 15rem;
}
.help-img {
  width: 100%;
  border-radius: 1.2rem;
}
.help-img-box {
  display: grid;
  grid-template-columns: 70fr 30fr;
  gap: 2.5rem;
  position: relative;
}
.medium {
  position: absolute;
  width: 50%;
  top: 40%;
  left: 50%;
}
.help-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  color: #666;
}
.help-list li {
  display: flex;
  gap: 2.4rem;
  position: relative;
}
.help-list li span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 2px solid #3b5d50;
  position: absolute;
  top: 0.8rem;
  left: 0;
}
.help-list li p {
  margin-left: 2.4rem;
}

.product-img {
  width: 100%;
}

.feature-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.feature-box .grafted-text {
  line-height: 1.4;
}

.feature-box .product-title {
  margin-bottom: 0.9rem;
  font-size: 1.4rem;
}

.feature-img-box {
  position: relative;
}

/* .feature-img-box::before {
  content: "";
  width: 90%;
  padding-bottom: 90%;
  position: absolute;
  border-radius: 1.8rem;
  background-color: #dce5e4;
  z-index: -1;
} */

.feature-link:link,
.feature-link:visited {
  text-decoration: none;
  display: inline-block;
  color: #2f2f2f;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.feature-link:hover,
.feature-link:active {
  color: #666;
}

/* TESTIMONIAL SECTION */
.section-testimonial {
  text-align: center;
  padding: 8.6rem 0;
  background-color: #eff2f1;
}
.testimonial {
  position: relative;
}
.testimonial-box {
  padding: 0 20rem;
}
.testimonial .grafted-text {
  font-size: 1.8rem;
}
.arrow {
  background-color: #bcbbbb;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100px;
  border: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.arrow img {
  width: 2.4rem;
  transition: all 0.5s;
}
.arrow:hover img {
  opacity: 40%;
}
figure img {
  width: 9.6rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
  height: 9.6rem;
}
.name {
  font-size: 1.3rem;
  font-weight: bold;
}
.job {
  font-size: 1.4rem;
  color: #666;
}
.dots {
  margin-top: 4.8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.dots .dot {
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  border-radius: 50%;
  background-color: #bcbbbb;
  transition: all 0.3s;
}
.dots .dot:hover {
  background-color: #2f2f2f;
}
.dots .active {
  background-color: #2f2f2f;
}

/* section blog */

.section-blog {
  padding: 8.6rem 0 20rem 0;
  background-color: #eff2f1;
}

.blog-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-blog .heading-h3 {
  margin-bottom: 0;
}

.blog-link:link,
.blog-link:visited {
  display: inline-block;
  color: #2f2f2f;
  font-size: 1.4rem;
  font-weight: 700;
}

.blog-link:hover,
.blog-link:active {
  text-decoration: none;
}

.blog-img {
  width: 100%;
  border-radius: 1.8rem;
  margin: 4.8rem 0 1.2rem 0;
  transition: all 0.3s;
  cursor: pointer;
}

.blog-img:hover {
  opacity: 70%;
}

.blog-content-box {
  padding-left: 1.2rem;
}

.section-blog .product-title {
  margin-bottom: 1.2rem;
}

.blog-description-text {
  text-decoration: none;
  font-size: 1.4rem;
  color: #666;
}

.blog-description-text strong {
  color: #2f2f2f;
}

/* section-cta */

.section-cta {
  padding: 8.6rem 0;
  background-color: #fff;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  margin-bottom: 12.8rem;
  color: #2f2f2f;
}

.cta-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}

.heading-h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3b5d50;
}

.cta-form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  gap: 1rem;
}

.cta-form input {
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid #777;
  color: #666;
  font-size: 1.6rem;
}

.cta-form input:focus {
  outline: none;
  outline-offset: 0.3rem solid #000;
  box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.08);
}

.btn-cta {
  background: none;
  border: none;
  background-color: #3b5d50;
  padding: 1.7rem 3.2rem;
  border-radius: 1.2rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-cta:hover {
  background-color: #fff;
  color: #3b5d50;
  box-shadow: inset 0 0 0 0.3rem #3b5d50;
}
.img-cta-box {
  position: relative;
}
.cta-img {
  width: 100%;
  position: absolute;
  top: -221%;
}
.grid-footer {
  display: grid;
  grid-template-columns: 2.6fr 1fr 1fr 1fr 1fr;
  color: #222;
  gap: 4.8rem;
}
.footer-content {
  color: #222;
}
.footer-h1 {
  color: #3b5d50;
  font-weight: lighter;
  margin-bottom: 1.2rem;
}
.footer-h1 .dot {
  color: #3b5d50;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  list-style: none;
  color: #666;
}
.footer-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #3b5d50;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #bcbbbb;
}
.icon-list {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}
.icon {
  width: 2.4rem;
  margin: auto;
  transition: all 0.3s;
}

.icon-link:hover .icon {
  filter: brightness(0) invert(1);
}

.icon-link:link,
.icon-link:visited {
  display: inline-block;
  height: 3.8rem;
  width: 3.8rem;
  background-color: #bcbbbb;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.icon-link:hover,
.icon-link:active {
  background-color: #3b5d50;
}

/* footer  */

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 27rem;
  border-top: 0.1rem solid #ddd;
  padding: 4.8rem 0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.footer-link-box {
  display: flex;
  gap: 2rem;
  /* display: inline-block; */
}

.back-top {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background: none;
  border: none;
  background-color: #3d5d50;
  position: absolute;
  right: 5%;
  top: 94.5%;
}

.top-icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
  animation: moving 1.5s linear infinite;
}

@keyframes moving {
  to {
    transform: translateY(-20%);
  }
}
